/* reset css */
* {
    /* emet */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/*
1.từ ngoài vào trong
2.từ trên xuống dưới
3.từ tổng quan đến chi tiết 
 */

/*
1.Vị trí
2.Kích thước 
3.Màu sắc
4. Kiểu dáng(kiểu chữ, hình tròn, vuông,...)
 */

 /* Common */
.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}

.btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.col {
    float: left;
    padding: 0 8px;
}

.col-third {
    width: 33.33333333333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

.pull-right {
    float: right !important;
}

/* Main */

#main {

}

#header {
    height: 46.5px;
    background-color: #000;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
    /* overflow: hidden; */
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style: none;
}


#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;
    display: inline-block;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
    display: block;
}

#nav .nav-icon-down {
    font-size: 16px;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

#nav .subnav a {
    padding: 0 12px;
    color: #000;
    line-height: 36px;
}

#header .mobile-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-btn,
#header .search-btn {
    float: right;
    line-height: 46.5px;
    padding: 0 23px;
}

#header .mobile-btn:hover {
    background-color: #ccc;
}

#header .mobile-btn:hover .menu-icon {
    color: #000;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}


#header .menu-icon,
#header .search-icon {
    color: #fff;
    /* font-size: 17px; */
}


#slider {
    position: relative;
    margin-top: 46.5px;
    padding-top: 50%;
    background: url(/W3School_Band/assests/image/newyork.jpg) top center / cover no-repeat;
}

#slider .text-content {
     font-family: 'Segoe UI', Arial, sans-serif;
     position: absolute;
     bottom: 47px;
     color: #fff;
     text-align: center;
     width: 100%;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 16px;
    margin-top: 25px;

}


#content {

}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
} 

#content .section-slogan {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.5;
}

#content .about-content {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    padding-top: 32px;
    
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

/* Tour Section */
.tour-section {
    background-color: #000;
}

.ticket-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.ticket-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 0.7px solid #ddd;
}

.ticket-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 4px 4px;
    margin-left: 16px;
}

.ticket-list .quantity {
    /* thêm float nên là thẻ block vì thế đặt đc width height và margin âm */
    float: right; 
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/* Places */
.places-list {
    margin-top: 16px;
    padding-bottom: 48px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    padding: 16px;
    background-color: #fff;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}



.place-time {
    margin-top: 15px;
    opacity: 0.6;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}



.place-buy-btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

/* end place */

/* end section */

/* contact form */

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="fa-"] {
    width: 30px;
    display: inline-block;
}

.contact-info a {
      opacity: 0.8;
}

.contact-info a:hover {
    opacity: 1;
}

.contact-form {
    font-size: 15px;
}

.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

/* Map section */
.map-section img {
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-network {
    font-size: 24px;
}

#footer .social-network a {
    color: #757575;
    text-decoration: none;
}


#footer .social-network a:hover {
    opacity: 0.6;
    cursor: context-menu;
}

#footer .copy-right {
    margin-top: 15px;
    color: #757575;
}   

#footer .copy-right a{
    color: #757575;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.4s;
}

.modal-header {
    background-color: #009688;
    height: 129px;
    display: flex;
    align-items: center;
    justify-content:center;
    color: #fff;
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 400 ;
}

.icon-suitcase {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 16px;
    cursor: pointer;
}

.modal-close:hover {
    color: #000;
    background-color: #ccc;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 30px;
}

.buy-tickets {
    background: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 17px;
    cursor: pointer;
}

.buy-tickets:hover {
    color: #000;
    background-color: #ccc;
}

.modal-footer {
    padding: 16px;
    text-align: right;
    margin-top: -8px;
}

.modal-footer a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-100px) ;
        opacity: 0;

    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}